html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Poiret One', sans-serif;
	font-size: 17px;
	letter-spacing: 0.1em;
}

header,
main,
footer,
section,
div {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}


/*
*
Header Section
*
*/

header {
	padding: 0 calc((100% - 1100px)/2);
}

.headings-area {
	position: relative;
	display: flex;
	align-items: center;
}

.logo {
	padding: 1.5em 0;
	width: 110px;
	height: 100px;
}

.headings {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 70%;
	right: 0;
	color: #2d3c49;
}

.name-heading {
	text-align: right;
	font-size: 3.5em;
}

.profession-heading {
	text-align: right;
	font-size: 2em;
}

hr {
	margin: 2em 0;
	border-top: 3px solid #7d97ad;
}

.image-banner {
	width: 100%;
}


/*
*
Main Section
*
*/

main {
	padding: 0 calc((100% - 1100px)/2);
}

.projects-heading {
	padding-top: 1.2em;
	font-size: 2em;
	color: #7d97ad;
}

.my-projects {
	display: flex;
	flex-wrap: wrap;
	padding: 1em 0;
}

.project {
	display: flex;
	flex-direction: column;
	width: 18em;
	max-width: 430px;
	padding: 1.5em 0;
}

.project__image {
	min-height: 14em;
}

.project__title, .project__github {
	display: inline-block;
	margin: 0;
	padding-top: 0.5em;
	text-align: center;
	font-size: 0.9em;
	color: #2d3c49;
}

.project__title {
	font-weight: 900;
	text-transform: uppercase;
}

.project__github i {
	color:  #2d3c49;
}


/*
*
Footer Section
*
*/

footer {
	display: flex;
	padding: 0 calc((100% - 1100px)/2);
	background-color: #181A14;
	color: #e7e7e7;
}

.copy-right {
	margin: 0;
	padding: 1.5em 0;
	width: 50%;
	font-weight: 900;
}

.social-media {
	position: relative;
	padding: 1.5em 0;
	width: 50%;
  font-size: 1em;
}

.social-media__list {
	text-align: right;
}

.social-media__item {
  display: inline-block;
}

.social-media__item a{
  padding-right: 1em;
  color: #e7e7e7;
}

@media screen and (max-width: 460px) {
	.headings-area {
		flex-direction: column;
	}

	.headings {
		position: static;
		right: auto;
	}

	.name-heading {
		font-size: 8vw;
	}

	.profession-heading {
		font-size: 6vw;
	}

	main {
		padding: 0 2em;
	}
	
	.project {
		margin: 0;
		width: 100%;
	}

	footer {
		flex-direction: column;
		text-align: center;
	}

	.social-media {
		width: 100%;
	}

	.social-media__list {
		text-align: center;
	}

	.copy-right {
		width: 100%;
	}
}

@media screen and (min-width: 461px) {
	.headings-area {
		padding: 0 2.5em;
	}

	.name-heading {
		text-align: center;
		font-size: 7vw;
	}

	.profession-heading {
		text-align: center;
		font-size: 5vw;
	}

	main {
		padding: 0 2em;
	}
	
	.project {
		margin: 0 auto;
		width: 100%;
	}

	footer {
		flex-direction: column;
		text-align: center;
	}

	.social-media {
		width: 100%;
	}

	.social-media__list {
		text-align: center;
	}

	.copy-right {
		width: 100%;
	}
}

@media screen and (min-width: 525px) {
	main, footer {
		padding: 0 3em;
	}

	.name-heading, .profession-heading {
		text-align: center;
	}
}	

@media screen and (min-width: 730px) {
	main {
		margin: 0 auto;
		max-width: 700px;
	}

	.project {
		width: 45%;
		margin: 0;
	}
	
	.project:nth-child(odd) {
	 	margin-right: 3.2em;
	}

	footer {
		flex-direction: row;
	}

	.copy-right {
		order: 1;
	}

	.social-media {
		order: 2;
	}
}

@media screen and (min-width: 880px) {
	header, main {
		margin: 0 auto;
		padding: 0;
		max-width: 830px;
	}

	.headings-area {
		padding: 0;
	}

	.name-heading {
		text-align: right;
		font-size: 4em;
	}

	.profession-heading {
		text-align: right;
		font-size: 2em;
	}

	.project {
		margin: 0 auto;
		/* padding: 0; */
		max-width: 830px;
		margin-right: 3em;
		width: 29%;
	}

	.project:nth-child(3), .project:nth-child(6)  {
		margin-right: 0;
 }
}

@media screen and (min-width: 960px) {
	
	.copy-right {
		text-align: left;
	}

	.social-media__list {
		text-align: right;
	}
}