html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Poiret One', sans-serif;
	font-size: 17px;
	letter-spacing: 0.1em;
}

header,
main,
section,
div,
span {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
	max-width: 100%;
	width: 100%;
	height: 100%;
}


/*
*
Header Section
*
*/

header {
	background: url(../img/abstract-2829961_1280.png) no-repeat;
	background-size: cover;
	height: 20em;
}

.headings-area {
	padding: 1.5em;
	padding-left: 6em;
}

.headings {
	text-align: center;
}

.name-heading {
	font-size: 7vw;
}

.profession-heading {
	font-size: 3.5vw;
}

.logo {
	padding-left: 25vw;
	width: 110px;
	height: 100px;
}

/* .headings-area {
	display: flex;
	position: absolute;
	justify-content: flex-end;
	align-items: center;
}

.headings {
	display: flex;
	flex-direction: column;
	padding: 1em 0 0 1em;
	width: 80%;
	color: #2d3c49;
}

.logo {
	width: 110px;
	height: 100px;
	position: absolute;
	top: 5em;
	right: 2em;
}

.name-heading {
	text-align: right;
	font-size: 3.5em;
}

.profession-heading {
	text-align: right;
	font-size: 2em;
}
 */


/*
*
Main Section
*
*/

main {
	padding: 0 1.7em;
}

.projects-heading {
	padding-top: 2em;
	font-size: 2em;
	color: #7d97ad;
}

.my-projects {
	display: flex;
	flex-wrap: wrap;
	padding: 1em 0;
}

.project {
	display: flex;
	flex-direction: column;
	padding: 1em 0;
	height: 70vw;
}

.project__info {
	position: relative;
	height: 100%;
}

.project__image, 
.project__back {
	height: 100%;
	position: absolute;
	top: 0;
}

.project__image {
	z-index: -1;
}

.image {
	border-radius: 12px;
}

.project__back {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 12px;
	background: linear-gradient(to right, #6f66d3, #9591e4);
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
	opacity: 0;
}

.project__back:hover {
	opacity: 1;
}

.project__title {
	padding: 0.8em 1.2em;
	text-align: center;
	text-transform: uppercase;
	color: #aaeaf6;
}

.project__button {
	padding: 1.2em 0;
	text-align: center;
}

.button {
	display: inline-block;
	padding: 0.7em 2em;
	font-size: 0.8em;
	font-weight: 900;
	color: #aaeaf6;
	border: #aaeaf6 solid 3px;
	border-radius: 20px;
	-webkit-transition: background-color 0.45s ease;
	transition: background-color 0.45s ease;
}

.button:hover {
	background-color: #2fb0d2;
}

.project__tools {
	font-size: 0.8em;
	font-weight: 900;
	text-align: center;
}

/*
*
Footer Section
*
*/

footer {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #181A14;
	color: #e7e7e7;
}

.copy-right, 
.social-media {
	margin: 0;
	padding: 1.1em 0;
	font-weight: 900;
}

.social-media__item {
  display: inline-block;
}

.social-media__item a{
  padding-right: 1em;
  color: #e7e7e7;
}

@media only screen and (min-width: 600px) {
	header {
		height: 60vw;
		max-height: 780px;
	}

	.logo {
		padding-left: 30vw;
	}
}

@media only screen and (min-width: 730px) {
	.headings-area {
		display: flex;
		justify-content: flex-end;
	}

	.headings {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: right;
		width: 42vw;
		max-width: 445px;
		order: 2;
	}

	.name-heading {
		font-size: 5.7vw;
	}

	.profession-heading {
		font-size: 2.6vw;
	}

	.logo {
		padding: 0 2.5em;
		order: 1;
	}

	.project {
		width: calc((100% - 1.7em)/2);
		height: 40vw;
	}
	
	.project:nth-child(odd) {
	 	margin-right: 1.7em;
	}

	footer {
		flex-direction: row;
		padding: 1em 1.7em;
	}

	.social-media {
		width: 50%;
		order: 2;
	}

	.copy-right {
		width: 50%;
		order: 1;
	}
}

@media only screen and (min-width: 1100px) {
	.name-heading {
		font-size: 3.7em;
	}

	.profession-heading {
		font-size: 1.7em;
	}

	.project {
		margin-right: 1.7em;
		width: calc((100% - 1.7em*2)/3);
		height: 30vw;
		max-height: 360px;
	}

	.project:nth-child(3), .project:nth-child(6)  {
		margin-right: 0;
	}	
}

@media only screen and (min-width: 1300px) {
	header, 
	main {
		margin: 0 auto;
		padding: 0;
		max-width: 1300px;
	}

	.copy-right {
		text-align: left;
	}

	.social-media__list {
		text-align: right;
	}

	footer {
		padding: 1.1em calc((100% - 1300px)/2);
	}
}